@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.page {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #107db4;
    font-weight: bold;
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

/* LANDING */
/* hero */
.hero {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    background-image: url(https://content.presentermedia.com/content/animsp/00006000/6550/pie_chart_stick_figure_runner_300_wht.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18%;
    color: #000;
    padding: 0 8%;
}
/* hero */

/* nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
nav > a > img {
    width: 160px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 14px;
}
nav ul li a {
    color: #000;
    text-decoration: none;
}
/* nav */

/* container */
.hero h1 {
    font-size: 70px;
    margin-top: 12%;
}
.hero a .btn {
    background: #393939;
    border: 0;
    outline: none;
    padding: 15px 35px;
    font-size: 55px;
}
/* container */
/* LANDING */

/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    /* background-color: aqua;
    border: 2px dotted red; */
    height: 10%;
    background-color: #fff;
}
nav .brand a img {
    width: 160px;
}
/* Navbar */

/* Main */
.main {
    height: 90%;
    /* border: 2px solid black; */
}
.main .container {
    padding: 0 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.main .container .col {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 1%;
    padding: 18px 5%;
    /* border: 2px solid pink; */
}
.p-heading {
    display: flex;
    color: #107db4;
    align-items: center;
    justify-content: center;
    padding: 27px;
}
/* Main */

/* nav-brand */
.navbar-brand > img {
    width: 100%;
    height: 90px;
}
/* nav-brand */

/* nav-links */
.nav-link {
    font-size: 20px;
    background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
.nav-link:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
.nav-link:hover {
    background-position: 0;
}
.nav-link:hover::before {
    width: 100%;
}
/* nav-links -END- */

/* banner */
.banner {
    width: 100%;
}
/* banner */

/* contaner-spacing */
.space {
    margin-top: 80px;
    margin-bottom: 50px;
}
/* contaner-spacing */

/* h5 */
h5 {
    color: #107db4;
}
/* h5 */

/* h2 */
h2 {
    font-weight: bold;
}
/* h2 */

/* icons */
.icon {
    width: 75px;
    height: 75px;
    margin-bottom: 27px;
}
/* icons */

/* abt-img */
.abt-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 56%;
}
/* abt-img */

/* srv-img */
.srv-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 79%;
}
/* srv-img */

/* b-box */
.b-box {
    border-radius: 55px 55px 0 55px;
}
/* b-box */

/* hr */
hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
/* hr */

/* card-border */
.card {
    border: none;
    background: none;
    padding-left: 9px;
    padding-right: 9px;
}
/* card-border */

/* box-shadow-1 */
/* .bs1 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */
/* box-shadow-1 */

/* box-shadow-2 */
/* .bs2 {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
} */
/* box-shadow-2 */

/* services */

.s1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 27px;
}
.s1 h2 {
    font-weight: bold;
    color: #107db4;
    margin-top: 25px;
    margin-bottom: 20px;
}

.service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service h1 ,h2 ,h3 ,h4 {
    font-weight: bold;
    color: #107db4;
    margin-top: 25px;
}
.service-data {
    margin: 27px;
    padding: 10px 90px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;
    /* background-color: #e6e6e6 */
}
/* services */

/* about-bog */
.bog {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    margin: 1% 10%;
}
.bog .row .col .card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 27px;
}
.bog .card img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

/* about-bog */

/* Form-page */
.fp {
    display: block;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
}
.fp img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
}
.fp .card {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 25px;
    width: 95%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
}

/* cards-tab */
.tab {
    overflow: hidden;
    /* border: 1px solid #ccc;
    background-color: #f1f1f1; */
  }

  .tab .nav-link {
    font-weight: bold;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #93e2ff;
}
  
  /* Create an active/current tablink class */
.tab button.active {
    background-color: #54b3d6;
}
  
  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
  
  /* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* cards-tab */

/* choose-file */
label.label input[type="file"] {
    position: absolute;
    top: -1000px;
}
.label {
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px;
    background: #dddddd;
    display: inline-block;
}
.label:hover {
    background: #54b3d6;
}
.label:active {
    background: #9fa1a0;
}
.label:invalid + span {
    color: #000000;
}
.label:valid + span {
    color: #ffffff;
}
/* choose-file */
/* Form-page */